body {
  font-family: "montserrat";
}
.welcome,
.card {
  display: flex;
  padding: 10px;
  background-color: rgba(0, 140, 255, 0.555);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  border-radius: 50px;
}
.welcome__btn {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  font-size: 30px;
}
